

html, body {
	height: 100%;

}


body {
    background: url('../images/bgs/white-wall.png');
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed; */
}

#main {
	height: 100%;
    margin-left: 60px;
}

/*  Nav Bar styling*/

.navbar {
    background: lightblue;
    border-radius: 0;
    width:60px;
    height: 100%;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

.nav-link {
    opacity: 0.5;
    transition: transform 1s, opacity 1s;
}

.nav-link:hover {
    background-color: transparent !important;
    transform: scale(1.3, 1.3);
    opacity: 1;
}

ul { margin-top: 20px; }

ul > li { box-sizing: border-box;}

.nav-icon {   
    width: 30px;
}

.nav-link:focus { 
    background-color: transparent !important;
}

#home {
    height: 100%;
    /*background: white;*/
}

#bio-section{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#bio {
    margin-top: 30px;
    padding: 0 25%;
}

h1.center{
   /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
 /*   display: inline-block;*/
}

.home {
    min-height: 100%;
}

#name {
    text-shadow: 3px 3px black;
    font-weight: 900;
    color: #5bc0de;
    font-size: 4vw;
    margin: 0;
}

/* used to keep responsive label text getting to big*/
@media screen and (max-width: 720px) {
  #name {
     font-size: 2em;
  }

}

.about {
    /*background: blue;*/
    height: 100%;
}


#work {min-height: 100%}  /* dont think I need*/

.work-section {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.work-item{
    height: 100vh;          /*changed from 100%*/
    position: relative;
}   

.work-item-heading{
    margin-top: 0;
    text-align: center;
}

.work-item-image{
     /*box-shadow: 24px 25px 52px -13px rgba(0,0,0,0.5);*/
     filter: drop-shadow(24px 25px 52px  rgba(0,0,0,0.5));
     max-height: 60vh;

}

li.label{
    color: white;
    font-size: 5vw;
    margin: 2px;
}


/* used to keep responsive label text getting to big*/
@media screen and (min-width: 440px) {
  li.label {
     font-size: 1.5em;
  }
}

li.label:hover{
    transform: scale(1.05, 1.05);
}

ul.list-inline{
    text-align: center;
}

#contact {
   
    background: url('../images/bgs/black-linen.png');
    height: 50vh;
    color: white;
    z-index:100;
    position: relative;
}

div.contact {
   margin-top: 15vh;
   transform: translateY(-50%);
}

#copy {
    margin-top: 10vh;
    color: white;
}

.about, .work {
    padding: 0 10%;
}

div#copy p {
    margin: 0;
}

hr.work-divider {

    margin: 0;     /* was margin: 10% 0;*/
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.work-divider:first-child{
    margin-top: 0;
}

/* iphone image for mostly cryptic*/
#mostly-iphone {
    max-width: 45%;
    box-shadow: 24px 25px 52px -13px rgba(0,0,0,0.5);
    border-radius: 35px;
   
}


#mostly-desc-col{
    /*margin-top: 7%;*/
}

p.work-item-desc{
    text-align: center;
}

a:hover {
    text-decoration: none;
}



.navbar:hover{
    background-color: rgba(0,0,0,.5);
    animation-name: nav-hover;  
    animation-duration: 1s;   
}
                            
@keyframes nav-hover {            
    from {background-color: transparent;}
    to {background-color: rgba(91,192,222,.5);}
}



/*   code to test animated projects*/
/*
#test-info{
    position: relative;
    left: -100%;
    top: 25%;
    opacity: 0;
}

#test-pic{
    position: relative;
    left: -100%;
    top: 25%;
    opacity: 0;
}
*/

div#contact a {

    margin-right: 15%;
}

/*reduces magin on small screens to keep icons inline*/
@media screen and (max-width: 400px) { 
  
  div#contact a {margin-right: 5%;}
}

div#contact a:last-of-type {
    margin-right: 0;
}

#contact-links {
    margin-top: 8%;
}


