

html, body {
	height: 100%;
}

body {
    background: url('../images/bgs/white-wall.png');
    /*font-family: 'Vollkorn', serif;*/
}

#main {
	height: 100%;
    /*margin-left: 60px;*/

}


/*  Nav Bar styling*/
.navbar {
    /*background: rgb(0,22,128);background: lightblue;*/
    /*border-radius: 0;*/
    /*width:60px;*/
    /*height: 100%;*/
    position: fixed;
    /*z-index: 10;*/
    /*box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);*/
}

.nav-link {
    opacity: 0.5;
    transition: transform 1s, opacity 1s;
}


.nav-link:hover {
    background-color: transparent !important;
    transform: scale(1.3, 1.3);
    opacity: 1;
}

ul { margin-top: 20px; }

ul > li { box-sizing: border-box;}

.nav-icon {   
    width: 30px;

}

.nav-link:focus { 
    background-color: transparent !important;

}


/* Home Div styling*/
#home {
    height: 100%;
    padding: 0 12%;
}

#bio-section{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
p#bio {
    margin-top: 30px;
    padding: 0 25%;
}

@media screen and (max-width: 720px){
    p#bio{
        font-size: 1em;
        padding: 0 15px;
    }

}

.home {
    min-height: 100%;
}

#name {
    font-family: 'Bevan', cursive;
    text-shadow: 3px 3px lightblue;
    font-weight: 900;
    color: rgb(0,22,128); 
    font-size: 4vw;
    margin: 0;
}

/* used to keep responsive label text getting to big*/
@media screen and (max-width: 720px) {
  #name {
     font-size: 2em;
  }
}

/*Work Div Styling*/
#work {
    min-height: 100%; /* dont think I need*/
    padding: 0 12%;

}  

.work {
    padding: 0 10%;
}

.work-section {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*This vertically centers elements when side by side*/
@media screen and (min-width: 992px) {
    .work-section{
        display: flex;
        align-items: center;
    }
}

.work-item{
    height: 100vh;          /*changed from 100%*/
    min-height: 568px;
    position: relative;
}   

.work-item-heading{
    /*font-family: 'Bevan', cursive;*/
    font-family: 'Abril Fatface', cursive; 
    margin-top: 0;
    text-align: center;
}


.work-item-image{
     /*box-shadow: 24px 25px 52px -13px rgba(0,0,0,0.5);*/
     filter: drop-shadow(24px 25px 52px  rgba(0,0,0,0.5));
     max-height: 60vh;

}

li.label{
    color: white;
    font-size: 5vw;
    margin: 2px;
}

li.label-info{
    background-color: rgb(0,22,128);


}

/* used to keep responsive label text getting to big*/
@media screen and (min-width: 440px) {
  li.label {
     font-size: 1.5em;
  }
}

li.label:hover{
    transform: scale(1.05, 1.05);
}

ul.list-inline{
    text-align: center;
}

hr.work-divider {

    margin: 0;     /* was margin: 10% 0;*/
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

hr.work-divider:first-child{
    margin-top: 0;
}

/* iphone image for mostly cryptic*/
#mostly-iphone {
    max-width: 45%;
    box-shadow: 24px 25px 52px -13px rgba(0,0,0,0.5);
    border-radius: 35px;  
}

p.work-item-desc{
    text-align: center;
}


/*Contact Div Styling*/
#contact {
   
    background: url('../images/bgs/black-linen.png');
    height: 50vh;
    color: white;
    z-index:100;
    position: relative;
}

#copy {
    position: absolute;
    bottom: 0;
    color: white;
}

div#copy p {
    margin: 0;
    color: black;
}

div#contact a {

    margin-right: 15%;
}

/*reduces margin on small screens to keep icons inline*/
@media screen and (max-width: 400px) { 
  
  div#contact a {margin-right: 5%;}
}

div#contact a:last-of-type {
    margin-right: 0;
}

div#contact h2{
    font-family: 'Bevan', cursive;
    color: black;
   
}

#contact-links {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

a:hover {
    text-decoration: none;
}

p{
    font-family: 'Abril Fatface', cursive; 
}

a {
     color: #5bc0de;
}

a:hover{
    color: rgb(0,22,128);
}



/*
    .navbar:hover{
    background-color: rgba(0,0,0,.5);
    animation-name: nav-hover;  
    animation-duration: 1s;   
}
                            
@keyframes nav-hover {            
    from {background-color: transparent;}
    to {background-color: rgba(91,192,222,.5);}
}
*/


/*   code to test animated projects*/
/*
#test-info{
    position: relative;
    left: -100%;
    top: 25%;
    opacity: 0;
}

#test-pic{
    position: relative;
    left: -100%;
    top: 25%;
    opacity: 0;
}
*/



